:root {
  --black: #0E1014;
  --light-text: #E4E5EA;
  --dark-gray: #656566;
  --btn-prymary: #4077F3;
  --purple-light: #833AB4;
  --red-light: #961A1A;
  --gradient-left-text: linear-gradient(90deg, #FCB045 0%, #FF3F78 100%);
  --gradient-right-text-first: linear-gradient(90deg, #fc893a 0%, #fc1f1d 100%);
  --gradient-right-text-second: linear-gradient(90deg, #FCB045 0%, #fc6f33 100%);
  --gradietn-dash: linear-gradient(90deg, #FCB045 0%, #FD1D1D 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

html {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--light-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--black);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  margin-top: 46px;
}

.header__wrapper {
  display: flex;
}

.logo {
  margin-top: 10px;
}

.logo__welbex {
  display: flex;
  align-items: center;
}

.logo__part1 {
  margin-right: 8px;
}

.logo__text {
  margin: 0;
  padding-top: 6px;
  max-width: 140px;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.navigation {
  margin-left: 52px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-top: 15px;
}

.navigation__item:not(:last-child) {
  margin-right: 30px;
}

.navigation__link {
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--light-text);
}

.header__contacts {
  display: flex;
  margin-top: 15px;
  margin-left: 141px;
}

.header__phone {
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--light-text);
  text-wrap: nowrap;
}

.header__socials {
  margin-left: 50px;
}

.header__socials-item:not(:last-child) {
  margin-right: 23px;
}

.content {
  height: 546px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__left {
  padding-top: 90px;
}

.content__left-title {
  margin: 0;
  width: 362px;
  color: var(--light-text);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__left-title-accent {
  display: block;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -0.2px;
}

.gradient-left-text {
  background: var(--gradient-left-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content__left-text {
  margin: 0;
  padding-top: 30px;
  width: 275px;
  color: var(--light-text);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__right {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
  padding-top: 110px;
}

.content__right-title {
  margin: 0;
  width: 291px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.content__right-title-accent {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.gradient-right-text-first {
  background: var(--gradient-right-text-first);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-right-text-second {
  background: var(--gradient-right-text-second);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content__right-mobile {
  display: none;
}

.content__right-list {
  text-align: right;
  margin-top: 40px;
}

.content__right-card {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
  width: 330px;
  row-gap: 30px;
}

.content__right-card-item {
  width: 50%;
}

.content__right-card-title {
  color: var(--light-text);
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.content__right-card-text {
  color: var(--light-text);
  margin: 0;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 9px;
}

.content__right-button {
  margin-top: 61px;
  width: 262px;
  height: 61px;
  background-color: var(--btn-prymary);
  color: var(--light-text);
}

.footer__content {
  padding-top: 43px;
  display: flex;
  flex-direction: row;
}

.about {
  width: 293px;
}

.about__title {
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.about__list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.about__list-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 10px;
  width: 292px;
}

.about__list-item-link {
  text-decoration: none;
  color: var(--light-text);
  font-size: 16px;
  font-weight: 400;
}

.menu__title {
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.menu__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  height: 150px;
}

.menu__list-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 4px;
  width: 196px;
}

.mobile-only {
  display: none;
}

.menu__list-item-link {
  text-decoration: none;
  color: var(--light-text);
  font-size: 16px;
  font-weight: 400;
  text-wrap: nowrap;
}

.footer__contacts {
  text-align: right;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__contacts-title {
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.phone {
  display: block;
  margin-top: 6px;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--light-text);
}

.socials {

  margin-top: 20px;
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  justify-content: end;
}

.address {
  text-wrap: nowrap;
  padding-top: 3px;
  font-size: 16px;
  font-weight: 400;
}

.copyright {
  margin-top: 54px;
  text-wrap: nowrap;
  color: var(--light-text);
  text-align: right;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.company {
  padding: 0;
  margin: 0;
}

.polyicy {
  display: block;
  margin-top: 5px;
  color: var(--light-text);
}

.background {
  width: 1440px;
  min-height: 980px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.purple-light {
  position: absolute;
  top: -154px;
  left: 602px;
  width: 259px;
  height: 259px;
  filter: blur(111px);
  border-radius: 100%;
  background: var(--purple-light);
  background: -moz-radial-gradient(circle, var(--purple-light) 0%, transparent 100%);
  background: -webkit-radial-gradient(circle, var(--purple-light) 0%, transparent 100%);
  background: radial-gradient(circle, var(--purple-light) 0%, transparent 100%);
}

.purple-ball {
  position: absolute;
  top: -2px;
  left: 868px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.21) 78.59%, rgba(86, 24, 128, 0.23) 100%);
  filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
}

.red-ball-big {
  position: absolute;
  top: 83px;
  left: 519px;
  width: 83px;
  height: 83px;
  border-radius: 100%;
  background: radial-gradient(82.3% 82.3% at 27.25% 26.5%, #ffd0d08a 0%, #d45d5d42 59.67%, #a7313140 78.59%, #82191940 100%);
  filter: drop-shadow(3px 6px 7px #df7d7d40) blur(0px);
}

.red-light {
  position: absolute;
  top: 251px;
  left: -102px;
  width: 311px;
  height: 311px;
  filter: blur(131px);
  border-radius: 100%;
  background: var(--red-light);
  background: -moz-radial-gradient(circle, var(--red-light) 0%, transparent 100%);
  background: -webkit-radial-gradient(circle, var(--red-light) 0%, transparent 100%);
  background: radial-gradient(circle, var(--red-light) 0%, transparent 100%);
}

.red-ball-small {
  position: absolute;
  top: 547px;
  left: 851px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: radial-gradient(82.3% 82.3% at 27.25% 26.5%, #ffd0d08a 0%, #d45d5d42 59.67%, #a7313140 78.59%, #82191940 100%);
  filter: drop-shadow(3px 6px 7px #df7d7d40) blur(2px);
}

@media screen and (min-width: 1441px) {
  .background {
    left: calc(50vw - 720px);
  }
}

@media screen and (max-width: 1440px) {
  .background {
    width: 100%;
  }

  .container {
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__wrapper {
    justify-content: space-between;
  }

  .navigation {
    margin-left: min(1vw, 30px);
  }

  .navigation__item:not(:last-child) {
    margin-right: min(1vw, 30px);
  }

  .header__contacts {
    margin-left: min(1vw, 30px);
  }

  .header__socials {
    margin-left: min(1vw, 30px);
  }

  .header__socials-item:not(:last-child) {
    margin-right: min(1vw, 30px);
  }

  .footer-content {
    justify-content: space-between;
  }


}

@media screen and (max-width: 890px) {
  .header__wrapper {
    flex-wrap: wrap;
  }

  .navigation {
    height: auto;
  }

  .header__contacts {
    margin-left: 0;
  }

  .navigation__item:last-child {
    display: none;
  }

  .about__title,
  .menu__title,
  .footer__contacts-title {
    font-size: 12px;
  }

  .about__list-item {
    width: 200px;
  }

  .about__list-item-link,
  .menu__list-item-link,
  .address {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  .header {
    margin: 0;
    background-color: var(--black);
  }



  .content {
    width: 100%;
    justify-content: space-between;
  }

  .content__left {
    padding-top: 40px;
    width: 272px;
  }

  .content__left-title {
    font-size: 36px;
    width: 272px;
  }

  .content__left-title-accent {
    font-size: 36px;
  }

  .content__left-text {
    padding-top: 15px;
  }

  .content__right {
    padding-top: 45px;
  }
}

@media screen and (max-width: 692px) {
  .header__wrapper {
    width: 100%;
    display: flex;
    height: 55px;
    justify-content: center;
  }

  .content__right-button {
    display: none;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    margin: 0;
    background-color: var(--black);
  }

  .footer__content {
    margin: 0;
    background-color: var(--black);
    flex-direction: column;
  }

  .menu__list-item {
    width: 150px;
  }

  .navigation__link {
    font-size: 12px;
  }

  .footer__content {
    width: 329px;
    justify-content: center;
    margin: 0 auto;
  }

  .footer__contacts {
    text-align: start;
    margin-top: 19px;
  }

  .socials {
    justify-content: start;
    margin-top: 8px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 320px;
    overflow: hidden;
  }

  .header__contacts {
    display: none;
  }

  .navigation {
    padding-left: 28px;
    padding-right: 16px;
  }

  .navigation__item:not(:last-child) {
    margin-right: 16px;
    text-transform: uppercase;
  }

  .content {
    align-items: normal;
    height: auto;
  }

  .content__right {
    padding: 0;
    padding-top: 46px;
    margin: 0;
    text-align: start;
    display: block;
  }

  .content__right-title-accent {
    text-transform: none;
    letter-spacing: 0px;
  }

  .content__right-card {
    display: none;
  }

  .content__right-list {
    margin: 0;
    padding: 0;
    text-align: start;
  }

  .content__right-mobile {
    display: block;
    margin-top: 20px;
  }

  .content__right-mobile-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 125px 1fr;
    row-gap: 14px;
  }

  .content__right-mobile-list-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
  }

  .dash {
    display: inline-block;
    height: 1px;
    width: 10px;
    background: var(--gradietn-dash);
  }

  .mobile-list-item-text {
    color: var(--light-text);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    margin-left: 6px;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__content {
    padding-top: 29px;
  }

  .about__list {
    margin-top: 18px;
  }

  .about__list-item {
    margin-top: 7px;
  }

  .menu {
    margin-top: 17px;
  }

  .menu__list {
    column-gap: 14px;
  }

  .menu__list-item {
    width: 135px;
    margin-top: 4px;
    margin-bottom: 3px;
  }

  .menu__list-item-link {
    text-wrap: wrap;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .order-1 {
    order: -3;
    padding-right: 10px;
  }

  .order-2 {
    order: -2;
  }

  .order-3 {
    order: -1;
  }

  .socials-item {
    width: 25px;
    height: 25px;
  }

  .address {
    margin: 0;
    padding: 0;
    margin-top: 9px;
  }

  .copyright {
    text-align: start;
    margin-top: 50px;
  }

  .background {
    background-image: url('./img/noise.png');
  }

  .purple-light {
    top: 162px;
    left: 258px;
  }

  .purple-ball {
    top: 283px;
    left: 290px;
  }

  .red-ball-big {
    width: 50px;
    height: 50px;
    top: 453px;
    left: 23px;
    filter: drop-shadow(3px 6px 7px #df7d7d40) blur(2px);
  }
}